.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Salud Penitenciaria
            h1.curso-titulo Marco normativo y sistemas penitenciarios

            .brand-line-primary

            p.curso-descripcion Las personas que laboran en las áreas de sanidad de los establecimientos de reclusión penitenciarios y carcelarios en Colombia requieren conocer al momento de ingresar a trabajar en el sistema, elementos conceptuales que permitan el acercamiento al conocimiento de las normas que rigen la salud penitenciaria. Se presentarán los decretos y leyes que hasta el momento rigen la práctica de la atención en el servicio de salud para las personas privadas de la libertad que deben ser tenidas en cuenta con un enfoque de servicio y compromiso con esa población vulnerable.
 


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")