.container#page-introduccion

    .header-ecored
        h1 Introducción


    .card.my-4
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JLcXg8Xiy5I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body

            p Damos inicio al primer recurso educativo,  en el cual se desarrollan elementos conceptuales de la Prestación de los servicios de salud en los establecimientos de reclusión a cargo del INPEC     

            p.mt-4 Este primer recurso se orienta a identificar los principales componentes del contexto institucional y normativo del Sistema Penitenciario y Carcelario. Tiene como objetivo el conocimiento del marco normativo,  el  modelo de atención, manuales técnicos administrativos (salud pública, prestación de servicios y calidad) y el compromiso que deben tener los profesionales en salud que laboren con las personas privadas de la libertad.

            p.mt-4 Se pretende que al conocer la normatividad en salud penitenciaria, el profesional de la salud entienda que el privado de la libertad no pierde su derecho a la salud y  es su deber propender por mejorar sus cuidados al interior de los establecimientos penitenciarios y carcelarios, a fin de contribuir a un retorno en mejores condiciones, psicológicas y físicas a la sociedad y a su núcleo familiar, que es en últimas, es  el objetivo de la  resocialización.