include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container

    .header-ecored
        h1 3. Tratamiento penitenciario en salud en Colombia


.container.timeline__wrapper
    .row.justify-content-center.px-sm-2.px-md-5.py-5
        .col-10 
            section                      
                       
                .timeline-card-wrapper.tl--borders.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                            h3 INPEC con CAPRECOM EPS fue el Contrato 1172 de 2009
                            .date
                                h2 2009
                        .timeline-card__body
                            p.text-small El primer contrato que suscribió INPEC con CAPRECOM EPS fue el contrato 1172 de 2009 cuyo objeto era: “CAPRECOM se obliga para con el INPEC a realizar el aseguramiento al régimen subsidiado de salud de la población reclusa que se encuentre recluida en los establecimientos de reclusión a cargo del INPEC y a los menores de 3 años que convivan con sus madres en los establecimientos de reclusión”. Lo anterior bajo lo normado en los Decretos 1141 del 1 de abril de 2009 y del 2777 del 3 de agosto de 2010.
                            p.text-small Dado que la Ley 1438 del 19 enero del 2011, reforma el Sistema General de Seguridad Social en Salud y deroga el numeral 44.2.3 del artículo 44 de la Ley 715 de 2001, a partir de esta fecha no existió vínculo contractual para el aseguramiento en salud de la población privada de la libertad con CAPRECOM EPSS.

                            
                                       
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-2.svg", alt="")
                            h3 CAPRECOM e INPEC contratos No. 008 de 2011 y No. 092 de 2011
                            .date
                                h2 2011
                        .timeline-card__body
                            p.text-small Teniendo en cuenta que se requería que la prestación de los servicios de salud se brindará a nivel intramural se firmaron entre CAPRECOM e INPEC los contratos No. 008 de 2011 (vigencia de 28/02/11 al 27/06/11) y No. 092 de 2011(vigencia del 28/06/11 al 15/07/12) cuyos objetos era la contratación de recurso humano (asistencial) intramural para prestar los servicios de salud POS-S de baja complejidad a la población reclusa al interior de los establecimientos de reclusión a cargo del INPEC en las áreas de sanidad de acuerdo a modelos de personal concertados entre las partes.
                                        
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-3.svg", alt="")
                            h3 Decreto 2496 de 2012: normas para la operación del aseguramiento en salud de la población reclusa.
                            .date
                                h2 2012
                        .timeline-card__body
                            p.text-small Con la expedición del Decreto 2496 de 2012, se establecen las normas para la operación del aseguramiento en salud de la población reclusa, en el parágrafo del artículo 13 cita: <i>..“la entidad promotora de salud-EPS que se encuentre garantizando la afiliación y prestación de servicios de salud a la población reclusa, no cesará en su responsabilidad hasta tanto se culmine el procedimiento de afiliación y traslado aquí dispuesto…”</i>, esto es que el aseguramiento en salud al régimen subsidiado de la población reclusa (aquella privada de la libertad, interna en los establecimientos de reclusión, en guarnición militar o de policía, en prisión o detención domiciliaria, o bajo un sistema de vigilancia electrónica) a cargo del INPEC continúo bajo la responsabilidad de CAPRECOM EPSS, la cual debió garantizar el acceso a los servicios de salud, de manera integral, continua, coordinada y eficiente, con portabilidad, calidad y oportunidad, prestar servicios de salud basados en las  características del Sistema Obligatorio de Garantía de Calidad de Atención en Salud del Sistema General de Seguridad Social en Salud – SOGCG, hasta el 31 de diciembre de 2015.
                                         
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-4.svg", alt="")
                            h3 Ley 1709 de 2014: régimen especial para el Sistema de Salud de los Establecimientos Penitenciarios y Carcelarios.
                            .date
                                h2 2014
                        .timeline-card__body
                            p.text-small Con la expedición de la Ley 1709 de 2014 “Por medio de la cual se reforman algunos artículos de la Ley 65 de 1993 [Código Penitenciario y Carcelario], de la Ley 599 de 2000 [Código Penal], de la Ley 55 de 1985 y se dictan otras disposiciones, estableció un régimen especial para el Sistema de Salud de los establecimientos penitenciarios y carcelarios, donde en su artículo 65 que modificó el artículo 104 de la Ley 65 de 1993, versa sobre el acceso a la salud, y el artículo 66 que modificó el artículo 105 de la ley 65 de 1993, además de establecer el servicio médico penitenciario y carcelario, creó el Fondo Nacional de Salud de las Personas Privadas de la Libertad el cual se encargará de contratar la prestación de los servicios de salud de todas las personas privadas de la libertad, de conformidad con el modelo de atención que se diseñe, Parágrafo 2° del Artículo 66 que modificó el artículo 105 de la Ley 65 de 1993, y precisó, que este Fondo estará constituido por recursos del Presupuesto General de la Nación, los cuales serán manejados mediante una fiduciaria estatal o de economía mixta. 

                            section.my-2

                                a(href="http://www.suin-juriscol.gov.co/viewDocument.asp?ruta=Leyes/1686959" target="_blank").media-link      

                                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon

                                    .media-link-title
                                        p.text-small #[strong Anexo]. Puede profundizar este tema consultando la Ley 1709 de 2014

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-5.svg", alt="")
                            h3 Decreto 2245 de 2015: reglamentario del sector justicia y del derecho
                            .date
                                h2 2015
                        .timeline-card__body
                            p.text-small A fin de dar cumplimiento a lo establecido los Ministerios de Justicia y del Derecho, de Salud y de la Protección Social y de Hacienda y Crédito Público, se expidió el Decreto 2245 de 2015 “Por el cual se adiciona un capítulo al Decreto 1069 de 2015, Único reglamentarios del sector justicia y del derecho, en lo relacionado con la prestación de los servicios de salud a las personas privadas de la libertad bajo la custodia y vigilancia del Instituto Nacional Penitenciario y Carcelario – INPEC”, el cual establece que el esquema para la prestación de los servicios de salud de la población privada de libertad bajo la custodia y vigilancia del Instituto Nacional Penitenciario y Carcelario INPEC, prevalecerá sobre la afiliación al Sistema General de Seguridad Social en Salud o a los regímenes exceptuados o especiales, y que las cotizaciones al Sistema General de Seguridad Social en que realice una persona privada de libertad servirán para garantizar la cobertura del Sistema a su grupo familiar en los términos definidos por la ley y sus reglamentos.
                            p.text-small La Unidad de Servicios Penitenciarios y Carcelarios –USPEC- por ser la competente procedió a llevar a cabo el proceso de selección abreviada N° SA-MC-058 – 2015 el cual tuvo como objeto “Celebrar un contrato de fiducia mercantil de administración y pagos de los recursos dispuestos por el fideicomitente en el Fondo Nacional de Salud de las Personas Privadas de la Libertad”.

                            section.my-2

                                a(href="https://www.minjusticia.gov.co/Portals/0/Ministerio/decreto%20unico/%23%20decretos/13.DECRETO%202245%20DEL%2024%20DE%20NOVIEMBRE%20DE%202015.pdf" target="_blank").media-link      

                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                                    .media-link-title
                                        p.text-small #[strong Anexo]. Para profundizar este tema consulte el Decreto 2245 de 2015


                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-6.svg", alt="")
                            h3 Decreto 2519 de 2015: intramurales y extramurales a la población privada de la libertad a cargo del INPEC. 
                        .timeline-card__body
                            p.text-small Por lo anterior y en cumplimiento al Decreto 2519 de 2015 en el artículo 4 <i>…” La Caja de Previsión Social Comunicaciones, CAPRECOM, EICE, en liquidación, deberá continuar con la prestación de servicios de salud a la población reclusa del Instituto Nacional Penitenciario y Carcelario - INPEC, con cargo a los recursos del Fondo Nacional de Salud de las Personas Privadas de la Libertad…”</i> se suscribió por tres meses el contrato No 59940-001-2015 a partir del 1/01/2016 entre el Patrimonio Autónomo PAP Consorcio Fondo de Atención en Salud PPL 2015 y Fiduciaria La Previsora S.A- FIDUPREVISORA como Liquidador de la Caja de Previsión Social de Comunicaciones, CAPRECOM, EICE en liquidación con Nit. No. 899.999.026-0; estableciendo en la Cláusula PRIMERA- OBJETO EL CONTRATISTA se obliga con el CONTRATANTE, a contratar  la prestación integral de servicios de salud, para la población privada de la libertad a cargo del Instituto Nacional Penitenciario y Carcelario - INPEC, con cargo a los recursos del Fondo Nacional de Salud. Servicio que fue prestado  a  la población interna por CAPRECOM solo hasta el 31/01/2016, lo cual obligó al consorcio a contratar directamente y hasta la fecha los servicios de salud intramurales y extramurales a la población privada de la libertad a cargo del INPEC.
                    
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-7.svg", alt="")
                            h3 Contrato No. 363 de 2015: consorcio Fondo de Atención en Salud PPL 2015
                        .timeline-card__body
                            p.text-small Como resultado de ello, se suscribió el contrato No. 363 de 2015 con el consorcio Fondo de Atención en Salud PPL 2015, el cual se encarga de administrar los dineros y garantizar los pagos dispuestos para la prestación del servicio de salud de las personas privadas de la libertad de los establecimientos de reclusión y detención domiciliaria así como de suscribir contratos con los prestadores de los servicios de salud, esquema con lo cual se busca garantizar la continuidad de la prestación de dicho servicio a la población privada de la libertad. Con vigencia hasta el 26/12 de 2016. 

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-2/icon-timeline-8.svg", alt="")
                            h3 Fiducia mercantil 145 de 2019: USPEC y el consorcio Fondo Atención en Salud PPL
                            .date
                                h2 2019
                        .timeline-card__body
                            p.text-small Para finalizar a partir del 27 de diciembre de 2016 se suscribe entre USPEC y el Consorcio Fondo Atención en Salud PPL 2017 el nuevo contrato de fiducia mercantil No. 331 del 27/12/2016 que finalizó el pasado 30 de abril de 2019. Desde el 01 de mayo de 2019 a la fecha, está vigente el contrato de fiducia mercantil 145 de 2019.

                            p.text-small 

                            section.my-2

                                a(href="https://www.fiduprevisora.com.co/wp-content/uploads/2020/03/Anexo-No-7-CONCERTACI%C3%93N-MODALIDAD-DE-C%C3%81PITA.pdf" target="_blank").media-link      

                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                                    .media-link-title
                                        p.text-small #[strong Anexo]. Se anexa el contrato de Fiducia Mercantil No.145 de 2019

